[2014-11-02 22:10] justinstenning opened #1 "Add support for .NET 3.5"
To support .NET 3.5, need a wrapper around native MemoryMappedFile as this was not introduced into the BCL until .NET 4.

[2014-12-04 11:09] #1 closed, assigned to nobody

[2016-02-03 07:00] spazzarama opened #5 "Change so not using common framework class names"
A number of classes match existing framework class names, these should be changed.

Array -> SharedArray
Buffer -> SharedBuffer

[2016-02-03 07:00] MikeFair opened #6 "Reading a Memory File before it is opened"
If a consumer app attempts to open a Shared Memory File before the producer has created it, a FileNotFound Exception is thrown.  A little digging didn't turn up any way to gracefully test/check for a MemoryMappedFile before trying to open it (or even better get some kind of file watcher or WaitEvent for it to show up).

So I used this function, but it feels like it belongs in the library somewhere

[2016-02-03 07:26] spazzarama commented on #6
Good idea, I'll implement a wait event tho for it.

[2016-02-03 08:03] MikeFair opened #7 "Multiple Readers and Writers and buffer name discovery"
I am researching integrating this library as the IPC mechanism for the NetMQ project (DotNet ZeroMQ project - also here on gh) and am looking for how to manage multiple readers and writers for that scenario.

What would be ideal is having each file participant (when there are multiple readers) be able to track which nodes they've read from the buffer independently (which I think means something li

[2016-02-03 08:19] spazzarama opened #8 "Keep nodes readable in CircularBuffer until all readers have read the node"
Allow all consumers of a circular buffer to retrieve all the data, i.e. the nodes are not writable again until all consumers have read the data.

One of the ideas around how to do this was to use an array of ReadStart pointers in the nodeheader rather than a single pointer. But probably also using a counter for the DoneReading would be needed...

[2016-02-03 08:22] spazzarama commented on #7
Not really directly related to the "multi-channel" idea you have here, but if there are going to be changes in this area it might be worth also considering the following - or at least keep in the back of mind. The same idea of using multiple read pointers was put forward too: Allow all readers to read all the nodes: see issue #8

[2016-02-03 08:27] spazzarama commented on #8
Might need to also create an ID for each newly written node to prevent nodes being written twice.

[2016-02-03 08:28] MikeFair commented on #6
Would it make sense to also add an Event or callback for when data is written to the buffer as well?

I thinking through talking to multiple processes at once which I can't help but expect to require one file per writer.

The problem with the current implementation is I couldn't see how, if reading from multiple consumers do something other than a CPU intensive poll.  I suppose though, if there we

[2016-02-03 08:28] spazzarama commented on #7
Thinking on this further, you could indeed probably use the read/write pointers as the channels, if so I do think it worth supporting the two approaches, e.g. channel and also a single producer + broadcast to multiple readers.

[2016-02-03 08:31] spazzarama commented on #6
@MikeFair Best to keep the conversation over in the other issue, but these are all ideas worth exploring. There are a number of uses for the base underlying class, we can always create variations that support the different scenarios, or else via configuration.

[2016-02-03 09:32] MikeFair commented on #8
Given it's a circularly linked list; I was thinking a writer could insert new nodes (or a new block of nodes) dynamically; like an arrayList segment.  However one of my concerns is readers/consumers that don't do their part and read the messages.

What usually happens when a reader doesn't consume messages is either A) The queue fills up and additional messages are dropped because there's no space

[2016-02-03 09:43] spazzarama commented on #8
Currently the writer will wait indefinitely, i.e. no readers read the node, the producer fills the buffer then waits for a free node.

Due to the increasing complexity I'm starting to think it would make sense for these additional options (including #7 perhaps) to be in new purpose built classes. I'll have a think about how to structure the CircularBuffer class to more easily support this.

[2016-02-03 09:58] spazzarama opened #9 "FastStructure is incompatible with some managed MarshalAs scenarios"
The following field will not work correctly in FastStructure:

    [MarshalAs(UnmanagedType.ByValArray, SizeConst = 8, ArraySubType = UnmanagedType.U1)]
    public byte[] Contents;

Instead it needs to be in a LayoutKind.Explicit struct with a fixed byte array, e.g.

    [FieldOffset(48)]
    public fixed byte Contents[8];

However this will then not work correctly with Marshal.PtrToStructure eith

[2016-02-03 17:32] MikeFair commented on #8
Agreed; I'm thinking of this higher level object as like an IPC network
switch.  That object then maintains a list of circular node lists; one list
per producer/consumer object on the "switch" (aka attached to the file).
Creating a new producer/consumer object would simply add a new circular
buffer to the list.

Every write would first add the data node to the backplane (aka add it to
the "switch"

[2016-02-09 12:02] MikeFair opened #11 "Dynamically Growing/Allocatable SharedMemory Buffer (w/ code!)"
Hi all,

I just posted the following Gist as an initial cut on making dynamic shared memory.
https://gist.github.com/MikeFair/6908afe26e0b84758ca4

The main idea is that (bufferPosition / blockSize) gives a unique segmentId.
"BufferName - <segmentId>" is then the file name of that segment which participants can test for the existence of and load them if they exist.  if they do not exist, then part

[2016-02-20 18:34] MikeFair commented on #6
@spazzarama Good point; I'm deleting the comment to keep this and #7 separated (I've also got a better idea on how to go about handling #7 now). :)

[2016-07-10 05:15] kasajian commented on #11
Can you explain how can be used?

[2016-07-10 06:51] kasajian opened #15 "Limit to the number of arrays -- should we support ArraySegments?"
I tried creating one large array of ints, basically 100 million ints.   And I compared it to 10 arrays of 10 million ints.   I don't see a see a measurable difference in the processes memory utilization or how long it takes.

Does that mean that if my application requires hundreds, if not thousands of arrays, i should create each of the as a separate array?

If I need to create one big array, I'd

[2016-07-12 22:57] kasajian commented on #15
I verified that every array takes 578 retained bytes of memory from the garbage collector.   So one really shouldn't create a lot of these.   Use them only for very large arrays, or use an array slicer to slice up the single array into multiple ones.   We'll need a version of ArraySegment to do that.

[2016-07-15 19:15] kasajian commented on #15
See pull request: https://github.com/spazzarama/SharedMemory/pull/16

[2016-07-15 19:15] #15 closed

[2016-07-16 01:17] kasajian opened #18 "Would like support for jagged arrays"
In C#, you can create jagged array is an array of objects, where each object is another array.  A buffer cannot contain objects.  Also these individual arrays can be variable length.  In order to put a jagged array into a buffer (i.e. one _flat array), we need to flatted out all the data into a memory buffer, but then have a mechanism for application code to view it as a jagged array.

I have a po

[2016-07-25 10:08] spazzarama commented on #9
Testing shows that it can be in a LayoutKind.Sequential without the FieldOffset

[2016-07-25 10:31] #5 closed

[2016-07-25 10:31] spazzarama commented on #9
Implemented

[2016-07-25 10:31] #9 closed

[2016-09-29 06:18] spazzarama opened #21 "Prevent accidental deadlocks in BufferWithLocks (BufferReadWrite, SharedArray)"
If a class inherting from BufferWithLocks does not correctly release Read/Write locks, or does not correctly check that the AcquireReadLock/AcquireWriteLock has returned true, it is possible to end up with a deadlock situation where a subsequent Read/Write call will wait indefinitely.

As a safety measure, a ReadWriteTimeout property (defaulting to 100ms) will be added to BufferWithLocks, and all

[2016-09-29 06:26] #21 closed

[2016-11-30 16:04] quicktrick opened #22 "FastStructure example"
Hi Justin,

Could you please give an example of how to use `FastStructure` in client/server applications?  The examples on [your site](http://spazzarama.com/2015/12/31/fast-shared-array-buffer-and-circular-buffer-ring-buffer-for-dotnet-ipc-with-memory-mapped-files/) and in the `FastStructureTests.cs` aren't clear about that (besides, this is a new subject for me). In fact, I don't get how to pass

[2016-12-01 09:42] quicktrick commented on #22
I've managed to pass `IntPtr` to another application using SharedBuffer. Everything is working, but there are some nuances I have to cope with to make it work in real applications.

[2016-12-02 10:00] quicktrick commented on #22
Many many thanks for your library, Justin!  It works like a charm!  My server (consumer) gets data faster than the client (provider) makes some primitive manipulations with them after sending them to server! :) 👍

[2016-12-02 10:38] spazzarama commented on #22
@quicktrick I'm glad you found it useful. Sorry for not getting to this sooner but looks like you have it all sorted. Enjoy!

[2017-04-05 18:51] karlkoorna opened #23 "((Unity 3D) FileNotFoundException) MemoryMappedFile not found error"
Unity version: 5.5.2f1 (free version)
SharedMemory version: 2.0.16 (.NET 3.5 version)

Code: https://pastebin.com/qPtWjKPn

Problem: On launch gives an error:
[code]
I don't know if it's a bug or if I'm missing something

Seems to work in this project which seems to have very similar SharedMemory base init code: https://bitbucket.org/vitaly_chashin/simpleunitybrowser/src/ad994940800930c03bafa14ca1

[2017-04-05 21:28] spazzarama commented on #23
You need to use the constructor that specifies the size in order to create the shared memory, otherwise it is just trying to open one that doesn't exist yet.

[2017-04-06 17:39] karlkoorna commented on #23
Thank you!

[2017-04-06 21:39] #23 closed

[2017-04-14 09:13] quicktrick commented on #11
I'm interested in this solution too. I need to fast transfer large portions of data of unpredictable volume. I can solve it by means of some intermediate CircularBuffer, but dynamically allocated shared memory looks more attractive.  Now it's easier for me to make my own solution with CircularBuffer, because it's hard to study smb. else's code, but if there is more or less working solution, I'd li

[2017-11-06 17:51] ivanfig opened #24 "The Client doesn't work with the latest mono"
[idf@localhost Net40]$ ^C
[idf@localhost Net40]$ ^C
[idf@localhost Net40]$ mono ClientTest.exe
Press <enter> to start client

Open existing shared memory circular buffer

Unhandled Exception:
System.NotImplementedException: The method or operation is not implemented.
  at SharedMemory.SharedBuffer.Open () [0x00099] in <548fbd8c964c4334bf10f7061eb7a57e>:0
[ERROR] FATAL UNHANDLED EXCEPTION: System.N

[2017-12-28 04:58] spazzarama commented on #22
For others that come here looking for further examples (including nested structure support). Take a look at the FastStructure unit tests:

https://github.com/spazzarama/SharedMemory/blob/master/SharedMemoryTests/FastStructureTests.cs

[2018-01-12 19:16] samuel-allan opened #25 "[Feature Request] Performance statistics"
What a wonderful tool!
My only suggestions would be to implement Performance statistics on the main (README.md) page,
they really help asses the effectiveness of this otherwise perfect library!

[2018-01-14 01:05] #25 closed

[2018-01-14 06:53] spazzarama commented on #18
@kasajian how did you get on with this one?

[2018-03-27 11:31] pavelsommer opened #28 "SharedArray - Windows Service"
Hi, I'm trying create SharedArray<T> inside Windows Service and open it in desktop app and I am getting the Unable to find the specified file exception. It is somehow possible to resolve this task and share data between Windows Service and desktop app?

[2018-05-24 06:06] spazzarama opened #29 "Add .NET Core Target"
Add a .NET Core 2.0 target

[2018-05-24 06:37] #29 closed

[2018-05-24 07:32] spazzarama commented on #28
@pavelsommer try the following: https://stackoverflow.com/a/43802332/323899

From what it says, you can prefix the name of the mapped memory with Global/ and it will be available across sessions.

[2018-05-24 07:32] #28 closed

[2018-05-24 07:34] spazzarama commented on #24
@ivanfig there is now a .NET Core App 2.0 target. I haven't tried this on non-windows machines, but it no longer has any platform/invoke code for this scenario.

[2018-05-24 07:34] #22 closed

[2018-07-10 12:34] imkaka opened #32 "Need a Circuler Buffer Example."

[2018-07-25 03:05] spazzarama commented on #32
@imkaka there is an example of how to open/create the server (producer) and open the client (consumer) in the readme, and in the example projects.

In the server:
[code]

In the client:
[code]

[2018-07-25 03:05] #32 closed

[2018-08-14 10:12] ugumba opened #33 "Not fully compatible with netstandard20"
Hi,
I'm referencing the package from a netstandard2.0 project, and VS displays this warning:

Is this expected?  Are there any risks in ignoring this warning?

Edit: I guess the library projects should target netstandard2.0 instead of netcoreapp2.0.

Brgds,
Robert

[2018-09-17 07:48] vpenades opened #34 "Support for new Span<T> and ArraySegment<T> semantics"
Along with the support for NetStandard support, proposed in another issue...

Could it be possible to have Span<T> and ArraySegment<T> semantics for reading/writing ?

[2018-09-17 08:45] vpenades opened #35 "Missing SupressFinalize in Dispose"
The proper dispose pattern requires a GC.SupressFinalize to prevent the dispose to be called two times:

[code]

[2018-11-07 07:55] ugumba commented on #29
Why not target netstandard20?  (See #36 )

[2018-11-22 11:32] nowakpe opened #37 "SharedMemory in Unity3D"
I just tried examples from here in Unity and I had an exception when using CircularBuffer.

_EntryPointNotFoundException: mono_win32_compat_CopyMemory_

CircularBuffer is somewhere using CopyMemoryPtr method ([DllImport("kernel32.dll", EntryPoint = "CopyMemory", SetLastError = false)])

What helped me to fix this error: change EntryPoint = "CopyMemory" for EntryPoint = "RtlCopyMemory"

[2018-11-22 17:38] TechnikEmpire commented on #37
That's a kernel-mode function. Check the charset declaration and linkage specifiers of your pinvoke methods.

[2018-12-12 00:51] spazzarama commented on #33
The reason it originally targeted netcoreapp2.0 was because it uses DynamicMethod from System.Reflection.Emit which was not available.

Will send new PR that includes the new dependency in NuGet also.

[2018-12-12 01:19] #33 closed

[2018-12-12 01:56] spazzarama commented on #37
This looks to be a Mono specific issue. Using RtlCopyMemory fails otherwise.

[2018-12-12 07:02] ugumba commented on #33
Ah, makes sense. Thanks!

[2019-02-05 16:46] abiresque opened #39 "Enable overwrite in CircularBuffer"
Hi @spazzarama , first of all thanks for this excellent library. It's made my life easier while developing numerous IPC applications.

One of my current applications has a high-frequency data producer coupled with a lower-frequency data consumer. I would like the new data to overwrite older data _regardless of whether it has been consumed_. In other words, I need the latest data to be available at

[2019-03-26 09:50] clSharp opened #40 "Working on Linux?"
Do SharedBuffers work in Linux? Anyone successfully used it? As far as I understand it's based on named MemoryMaps, which are not supported in. NET Core under Linux.

Is there any alternative for shared memory with. NET Core under Linux?

[2019-03-30 23:53] mkosina commented on #40
Got SharedArray to work on Linux with the following patches:

- in SharedBuffer.Open(), use MemoryMappedFile.CreateFromFile, which is supported (and has the additional advantage of adding persistence to the buffer, something I needed)
- replace usage of EventWaitHandle (which depends on named mutextes, also unsupported on Linux, though perhaps that has changed - see https://github.com/dotnet/corec

[2019-03-31 19:35] mkosina commented on #40
May want to also check out https://github.com/AdaptiveConsulting/Aeron.NET - Martin Thomspon of LMAX Disruptor fame is involved.

[2019-03-31 21:34] spazzarama commented on #40
@mkosina I would be interested in looking at integrating support for Linux.

I’m not sure how I feel about spin locks, but if there is no alternative for Linux then fair enough.

Would you be able to prepare a pull request or point to a repo that has these changes?

Thanks

[2019-04-02 12:41] clSharp commented on #40
@mkosina Can you share experiences on when Linux flushes those mappings to disc? Will it flush if I delete the file before closing the map?

I need more than 1GB/s of shared memory bandwith. Any IO from those mappings is a serious problem for me.

[2019-05-07 09:06] spazzarama commented on #40
My short investigation into this so far has found that the .NET core implementation on Linux only supports shared memory backed by files. I believe there is a memory only option within Linux, however this will require a custom implementation to support it.

[2019-05-07 09:07] #35 closed

[2019-05-07 09:15] spazzarama commented on #39
@abiresque in the meantime this could be implemented easily by checking if the result of the write succeeded (using a smaller timeout). If it fails, simply have a consumer read and discard an item and try to write again.

[2019-06-03 01:48] wenris opened #41 "Where to call AcquireWriteLock/AcquireReadLock"
In BufferWithLocks, any Write/Read memthod just call WriteWait/ReadWait to check that WriteWaitEvent/ReadWaitEvent is set, but not acqire locks, why?

Should I call AcquireWriteLock/AcquireReadLock in my userland code?

[2019-06-03 01:49] wenris commented on #41
[code]

[2019-06-03 01:55] spazzarama commented on #41
@wenris depends on your code, if you need to asynchronously support read/write and want to ensure that the read waits for the write, then yes, manually call AcquireRead/WriteLocks at the appropriate times based on your logic (remember to release them also).

If you AcquireReadLock, then writing is blocked until your read lock is released. If AcquireWriteLock then reading is blocked until you relea

[2019-06-03 02:01] wenris commented on #41
Is SharedArray/CircularArray thread-safe?

[2019-06-03 02:08] spazzarama commented on #41
CircularBuffer is thread-safe, no locks required - it internally manages the circular buffer in such a way it is impossible to write over a node while reading.

SharedArray is thread-safe if you use the AcquireRead/WriteLocks and ReleaseRead/WriteLocks around the read/writes. You can read and write to different indexes without locks if that suits the implementation. If you want an implementation t

[2019-06-04 04:14] #41 closed

[2019-10-01 19:25] osigurdson opened #42 "Suggest switching to a more common license (such as MIT)"
Hello,

If possible, I would suggest changing the license to MIT or Apache 2.0.

[2019-10-28 10:33] schmelnik opened #43 "Add .NET Core 3.0 Target"
Modify Project files to include .NET Core 3.0 targets

[2020-04-10 02:44] Thomas-JZQ opened #45 "FileNotFoundError,if I'm missing something?"
i am sorry, i do miss something

[2020-04-10 02:51] #45 closed

[2020-04-15 06:48] spazzarama commented on #42
It is MIT

[2020-04-15 06:48] #42 closed

[2020-04-15 06:49] spazzarama opened #46 "RPC Implementation"
Add a simple RPC implementation using the existing `CircularBuffer` class.

[2020-04-15 07:07] #43 closed

[2020-04-15 07:07] #46 closed

[2020-05-28 20:34] cocowalla commented on #39
Firstly, thanks for this library, it's great to have a simple abstraction over shared memory!

Just wanted to chime in with another voice in favour of built-in support for this (I'd assumed `CircularBuffer` worked like this, and wondered what was going on) 😄

[2020-05-29 10:59] cocowalla commented on #39
@spazzarama I'm thinking about your workaround, which I think is something like:

[code]

The problem is that the producer will be discarding the *newest* data, rather than the oldest. Is there some way to read from the oldest end of the circular buffer instead of the newest?

[2020-05-29 11:05] spazzarama commented on #39
@cocowalla are you sure it is discarding the newest? It is a FIFO buffer, and the read/write locations are stored in the shared memory circular buffer [header](https://github.com/spazzarama/SharedMemory/blob/master/SharedMemory/CircularBuffer.cs#L142).

BTW you can use the Read overload that takes an Action instead that skips reading the actual bytes to speed things up.

[2020-05-29 11:15] cocowalla commented on #39
Sorry, I got confused, you're right that it reads from the oldest data!

[2020-06-13 01:26] duketwo opened #49 "RPC buffer error"
Hey,

I'm trying to use the RPC buffer. It's injected in a process via easyhook with bootstrapped CLR.

This line

`new RpcBuffer("Test");`

Results in:

`System.IO.IOException: Nicht ausreichend Speicher für die Zuordnung der Ansicht (Not enough memory to map the view)
   bei System.IO.MemoryMappedFiles.MemoryMappedView.CreateView(SafeMemoryMappedFileHandle memMappedFileHandle, MemoryMappedFileAc

[2020-06-13 01:37] spazzarama commented on #49
@duketwo I'm assuming this is the master (i.e. first one to create the buffer)

Try using smaller buffer size and/or node count e.g.

[code]

[2020-06-13 02:45] duketwo commented on #49
That didn't work. However, adding the source code to the project did resolved all the issues.

[2020-06-13 03:04] spazzarama commented on #49
Not sure why that would work, but glad its sorted

[2020-06-13 03:04] #49 closed

[2020-06-18 12:25] ordinaryorange opened #50 "Reuse existing rpcName"
Is there a way for a new master to reuse the rpcName of a master that has previously disposed ?

Currently I have to restart the slave if the master restarts.
I have a use case where the slave continuously runs, but the master process will restart.

I have a workaround, by way of using a normal file to communicate the new master rpcName to the slave, but it is a hack.

[2020-06-18 23:14] spazzarama commented on #50
@ordinaryorange are you explicitly disposing the RpcBuffer? If not, could you try doing that to see if that helps?

There is a mutex created to determine if the master has been created already or not. This should be released when the RpcBuffer is disposed of, and in the case of your master closing, should mean that the master can be created again with the same name.

[2020-06-18 23:54] ordinaryorange commented on #50
I was not explicitly disposing the buffer, so I amended my code, but still no luck.

It appears the slave might be holding onto the mutex?.
If I restart the master but not the slave I get an `IOException` _Cannot create a file when that file already exists_.
But if I also restart the slave, then the master can reuse the rpcName.

[2020-06-19 00:07] spazzarama commented on #50
The slave instance does not hold onto a mutex, however the error makes sense because the underlying MMF is still open and therefore cannot be created by your host.

Unfortunately there is no support currently for "CreateOrOpen" for the underlying buffer when the instance type is master, so you would need to detect the close and then also close the client.

[2020-06-19 00:16] spazzarama commented on #40
As a note: cross-process mutex's are supported on Linux/POSIX with "Global\" prefix in name

[2020-06-19 00:59] ordinaryorange commented on #50
Ok. Thanks for the help.
I did a hack to communicate a new rpcName to the slave via a file, so it could cycle, but was very ordinary. I've just had an idea maybe to use two channels as a workaround.

[2020-06-19 00:59] #50 closed

[2020-06-24 13:07] alayGit opened #51 "Null Reference Exception When Disposing of Master Buffer"
Hello, I am getting a null reference exception within SharedMemory.RpcBuffer.ReadThreadV1(), when I call dispose on a MasterBuffer.

I am using SharedMemory to retrieve a port from a server process so that a client can connect to a service.

I would show you the call to dispose, but that would require pasting in a big blob of my code for it to make sense. If you need anything else let me know. Wha

[2020-07-01 01:17] spazzarama commented on #51
@alayGit is it the actual call to the masterBuffer.Dispose() that is triggering the error, or is it something else after you have disposed of the buffer?

[2020-07-02 11:27] alayGit commented on #51
Hello,
Thanks for your reply.
I revisited this issue, so that I could reply to your question.

I am experienced enough to know that usually when you have a problem calling a library that it is misuse of the library causing it, not the library. I wanted to paste this on a general help forum rather than an issues forum, but I couldn't find one :(. I am hoping someone could tell me what I am doing wr

[2020-07-02 23:55] spazzarama commented on #51
@alayGit can you please prep a minimal standalone reproduction of the error and I'll take a look for you.

[2020-07-04 13:36] alayGit commented on #51
Just to let you know I have seen this message and I am onto creating this example. I should have it soon.

[2020-07-06 11:30] alayGit commented on #51
Hello,
I have been unable to produce a minimal example.

I am working on a huge project, so I stripped just about everything out to produce the example, but with most of the code stripped out the issue didn't happen.

The only addition clue I was able to glean was that, in the real project, if I ran the second dispose in the debugger or in a Task.Run the issue did not happen.

I suspect something

[2020-07-21 09:50] #51 closed

[2020-08-10 15:37] deviousasti opened #52 "RpcBuffer missing messages"
I have a very simple implementation using `RpcBuffer` in F#.
But it keeps missing messages.

If I send messages between host and client in a loop, about a tenth of the time responses time-out.
I'm not sure exactly how to replicate the failures, they seem like heisenbugs.

This isn't an accurate repro, but it has the ratio of timeouts I'm seeing.
[code]

[2020-08-10 21:45] spazzarama commented on #52
Have not had a chance to look at this in detail yet, but can you try with a bigger node count/buffer size?

[2020-08-11 05:24] deviousasti commented on #52
I did, and it's still the same. It's sort of random when it fails.
The original, simpler case is in F#. I can post it you'd like.

[2020-09-02 09:42] vinaydwivedi opened #53 "When I run shared memory within a window service, Unable to read from applications as console application"
private SharedMemory.SharedArray<MarketTickS> _buffer = _buffer = new SharedArray<MarketTickS>(@"Global\MARKETTICK", 200000); from within window service.

Try creating
SharedMemory.SharedArray<MarketTickS> _reader = new SharedArray<MarketTickS>(@"Global\MARKETTICK");

I Get "Access to the path 'Global\\MARKETTICK_evt_write' is denied"

When I create the file without Global Prefix i.e.
private Shar

[2020-09-02 09:47] spazzarama commented on #53
What is the window service authenticating as? I would say you need to change this.

[2020-09-02 10:36] vinaydwivedi commented on #53
Window service is authenticated as Network service, tried running it under local service account as well, doesn't work.

[2020-09-02 10:41] spazzarama commented on #53
I believe the service must be running using an account that has the Local Security Policy “Create global objects” allowed.

[2020-09-02 10:48] vinaydwivedi commented on #53
Yes, please see below, Just to be sure, if this is not permission issue, I granted create "create global objects" to everyone.

![image](https://user-images.githubusercontent.com/9931326/91972124-daea6500-ed37-11ea-8b51-b5f75b9b489e.png)

[2020-09-02 13:04] vinaydwivedi commented on #53
Could following be required, don't see this being set.

var security = new MemoryMappedFileSecurity();
security.AddAccessRule(new AccessRule<MemoryMappedFileRights>("everyone", MemoryMappedFileRights.FullControl,AccessControlType.Allow));

[2020-09-02 23:15] spazzarama commented on #53
Probably for the client to connect but that does not explain why you can’t create the initial MMF.

[2020-09-03 04:08] vinaydwivedi commented on #53
Both the issue were from client side. I have switched to Managed version of MemoryMapped files, and able to work as expected with security MemoryMappedFileSecurity added.

[2020-09-03 04:17] spazzarama commented on #53
Ah I thought the issue was creating not opening existing. Anyway, sounds like that is the issue, thanks.

[2020-09-29 14:17] DanielChilcott commented on #52
@deviousasti were you able to resolve this? We're seeing a similar issue.

[2020-09-30 05:58] deviousasti commented on #52
Sorry Daniel, I tried several things, but eventually gave up.
This was for a VS extension, and synchronization with VS's threading model proved to be difficult.

I switched to [streamjsonrpc](https://github.com/Microsoft/vs-streamjsonrpc) from the VS team, and it works fine. The RPC interface is similar enough. You can use named pipes instead of mmap.

[2020-10-15 12:41] DanielChilcott commented on #52
Thanks Asti, such a pity as this is an otherwise great implementation and I love the fact that it hardly has any dependencies. Unfortunately I wasn't able to track down the problem and we're going to move over to the MS RPC option you suggest.

A huge thank you to @spazzarama for providing this library. It was enormously helpful to us as part of a large architectural change in our platform.

[2020-10-25 11:58] spazzarama commented on #52
@DanielChilcott @deviousasti sorry for the late reply. I wonder if this is caused by timing out waiting for slot in full buffer? Could perhaps have used infinite timeout?

[2020-11-03 17:54] Wearwolfy opened #55 "Kernel driver?"
I am new to shared memory, what example do I need to use to communicate with a driver that uses shared memory? Thanks in Advance!

[2020-11-04 12:24] lukiluki123 commented on #53
Hey, vinaydwivedi.
Can you explain your solution more detailed?
I have similar issue but with CircularBuffer, between service (net7) and consol (net35)

[2020-12-04 06:38] happysammy opened #56 "Cannot create a file when it already exists when use MemoryMappedFile.CreateNew"
I start two processes, one writes data continuously, and another reads data,  when i kill the write process and restart, it throws an exception "Cannot create a file when it already exists" , so i look into the library source code, change the "MemoryMappedFile.CreateNew" function in SharedBuffer class to "MemoryMappedFile.CreateOrOpen",  the bug doesn't appear and worked very well.

[2021-01-16 16:34] marekpraski opened #57 "SharedMemory.BufferReadWrite truncating char array"
thank you for providing this  library. When trying to use, however, I run into a serious problem.
I want to use SharedMemory package to share data between two C# apps written in C# .Net 3.5 (unfortunately cannot upgrade). I wrote a simple test to see how it works

[code]

In runTest method I expected testText string to be the same as result, but what I was getting was a string that was clipped. Fo

[2021-01-16 18:07] daxpandhi commented on #57
Marek, I could be wrong but I think your `buff` object may be getting lost. If you declare it as a field and have both methods access that object, it *might* fix it.

[2021-01-16 18:26] marekpraski commented on #57
daxpandhi, thanks but it did not work .... Anyhow, this is just an example to show the problem, in real life I would want the read and the write methods be in two separate projects (applications).

[2021-01-16 19:56] daxpandhi commented on #57
I use it exactly like you want (although I rely on the circular buffer) in a production app. In any case, hopefully someone with more knowledge will be able to help you out.

[2021-01-17 02:58] spazzarama commented on #57
@marekpraski I haven't had time to check fully why this is happening for you, however if you instead encode to bytes it works fine:

[code]

[2021-01-17 03:26] spazzarama commented on #52
@DanielChilcott @deviousasti I think this is actually a performance related issue, if you leave the timeoutMs at the default (30s) they all succeed.

[2021-01-17 14:04] marekpraski commented on #57
@spazzarama, it does work indeed when I convert to bytes as you suggested. Thank you

[2021-01-17 17:10] deviousasti commented on #52
Thank you for continued investigations.IIRC, I did try various values of timeout but messages were still missing. The situation might have changed now though.   From: Justin StenningSent: Sunday, January 17, 2021 8:56 AMTo: spazzarama/SharedMemoryCc: Asti; MentionSubject: Re: [spazzarama/SharedMemory] RpcBuffer missing messages (#52) @DanielChilcott @deviousasti I think this is actually a performa

[2021-01-17 17:10] deviousasti commented on #52
Shall I close this issue?

[2021-01-17 20:45] spazzarama commented on #52
I might keep it open a little longer, the performance was not what I expected, and even without a 100ms delay there was some weirdness.

[2021-04-07 10:38] prime23-gareth opened #60 "Changing SharedArray Length type from int to long"
We've a potential case for changing the type of Length in SharedArray (in a custom implementation) from int to long. Do you forsee any potential issues with this apart from the obvious impact on memory use/availability?

[2021-04-08 16:02] mightypanda commented on #52
Hello, thank you for this super-useful library!
I've been using it with RpcBuffer to send high-frequent messages, such as the value changing from a WPF slider component, and i noticed a pattern that seems invariant from buffer size or number of allocated nodes.

The very first time i send a burst of messages the buffer fills up quickly and starts to give timeout, if i sent like 500 messages i get

[2021-04-11 03:33] spazzarama commented on #52
@mightypanda thanks for that information. That is an interesting behaviour, so clearly something is going on.

[2021-04-11 05:20] spazzarama commented on #60
I don't think that will be a problem. The base class uses a long for buffer size already.

[2021-04-11 05:20] #60 closed

[2021-04-16 23:29] #57 closed

[2021-04-16 23:36] spazzarama commented on #55
This library is designed to read/write memory to another process using this library (specific headers etc). You would need to implement the same memory structures to use with something else. Note: you cannot use .NET in a kernel driver, so you would have to implement a native kernel version using ZwOpenSection

[2021-05-24 07:41] IdolMenendez opened #61 "Working On MacOS?"
any plan to support MacOS？

[2021-06-28 07:52] wsloth commented on #53
Hey all, bumping this issue thread again because we are also running into this issue.

SharedMemory via RpcBuffer works fine when the host & client are console applications, but no longer when the host is a Windows Service.

I tried the `Global\Name` approach, but this is not a feasible solution for us as we are deploying to hundreds of machines and would rather not modify permissions for all user

[2021-06-28 16:28] 1fabi0 opened #62 "Avoid Allocations for High Performance"
If the Shared Memory is running in a HighPerformance like it's called 50 times+ per second quite a lot allocations are going on to avoid this every allocation should be done once and then reused, if you want to i can take care of this and try to replace allocations to one allocation at as much places as possible and increase the speed of this for HighPerformance. Maybe it then makes sense to use A

[2021-06-29 12:33] spazzarama commented on #62
You are welcome to submit a pull request. I just ask you do it on the develop branch.

[2021-06-29 12:34] spazzarama commented on #61
Same issue as for Linux - we need a native wrapper that supports the shared memory that is not backed by a file

[2021-06-29 12:40] spazzarama commented on #53
I haven’t had a chance to look at this in a lot of detail yet, but the ‘MutexSecurity’ looks like the correct approach to me.

[2021-08-02 05:50] onehundredfeet commented on #34
Just wanted to add my support to this one.

[2021-12-14 08:09] shuebner commented on #62
I have not benchmarked it, but it seems like using a threadpool Task for every single message sent in RpcBuffer is also detrimental to performance. AFAIK, it could even [lead to threadpool starvation](https://docs.microsoft.com/en-us/dotnet/standard/threading/the-managed-thread-pool#when-not-to-use-thread-pool-threads) should the response take a long time. There is `ThreadPool.RegisterWaitForSingl

[2021-12-14 09:36] shuebner commented on #62
Maybe I will do so myself. It seems like an innocuous change. As long as we are confident that the automated tests discover errors, this should be quick. Maybe threadpool behavior is also behind #52 . Who knows.

As a side-effect, it will also enable regular `CancellationToken`-based request cancellation instead of timeout-only. And this is what I am really after :-)

[2021-12-14 09:48] spazzarama commented on #62
@shuebner yeah have a go, I'll have a go also, but better for you to try with your use case in mind

[2021-12-17 09:08] shuebner commented on #62
@spazzarama did you notice my PR from 3 days ago?

[2021-12-17 09:27] spazzarama commented on #62
@shuebner there is an implementation on develop branch that looks to remove the Tasks. It still doesn't add the CancellationToken's so could you please check whether you can get your changes to work on there?

[2021-12-19 10:12] shuebner commented on #62
The changes @1fabi0 made seem to be superior to mine alone (in terms of performance): Even though RPC_LoadTest_5k_Small_Multi_Thread would have to be converted into a proper benchmark (e. g. Benchmark.NET) to give reliable results, his approach seems to be roughly 2.5x as fast as my small change.

It looks like we have to somehow merge the two approaches to get both cancellation and performance.

[2021-12-19 14:48] Christian-Schl commented on #62
@shuebner
Hello this week i dont have to much time to check the changes.
Maybe in the holydays between the years.

What i can remember before my changes the allocations where no problem from performance point of view. The most time was consumed by switching the thread context because auf the await calls.

There is also the MR https://github.com/spazzarama/SharedMemory/pull/59 pending which can als

[2021-12-19 15:43] shuebner commented on #62
@Christian-Schl
I never claimed that allocations are a problem. I just answered a question. It seems to me that the actual change in my PR (using ThreadPool.RegisterWaitForSingleObject instead of creating a regular ThreadPool Task) is overshadowed by the implementation detail of reusing completed task objects. Disregard if I misunderstood. Let's continue code-specific discussions in the PR. This i

[2021-12-21 07:05] spazzarama commented on #62
@1fabi0 this thread got a bit off topic. Back to your original comments around allocations:

I have played with a non-async version and have it down to 38us vs 44us and 1KB vs 3KB allocations per call. It isn't compatible with the existing timeout/cancellation approach so I'm not sure if/when I would look at implementing. I'll probably just post it as another branch for now and come back to it in

[2021-12-21 08:15] spazzarama commented on #52
I think this is probably related to ThreadPool exhaustion / starvation

[2021-12-21 12:21] 1fabi0 commented on #62
Yeah thanks, I original opened the Issue because of an project I did where we had such a throughput that always a new allocation caused pressure on the gc, in the project I resolved a lot by reusing the final byte array where data was copied to, in the shared memory library.

I will take a look at your changes and I will review prs in the future and comment if I see something that is not clear to

[2021-12-22 07:03] spazzarama commented on #62
@1fabi0 the non-async-benchmarks branch has been updated to reduce allocations further and to completely remove the async methods.

I think in the next major release I will split RpcBuffer into two implementations, one with the async and another without. The consumer can then be responsible for deciding how best to deal with processing messages.

I also plan to use ReadonlySpan<byte> rather than b

[2021-12-22 07:31] spazzarama commented on #52
@deviousasti I know you found another solution, however I believe this has been fixed on the following branch: https://github.com/spazzarama/SharedMemory/tree/non-async-benchmarks

Any chance you can retest?

@mightypanda if you could also test that would be really helpful.

[2021-12-22 07:38] spazzarama commented on #52
This is the updated example:

[code]